/*FONT FAMILIES

font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;

font-family: 'Amatic SC', cursive;
//font-family: 'Gochi Hand', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Scheherazade', serif;
//font-family: 'Fredericka the Great', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Itim', cursive;
font-family: 'Coustard', serif;
*/
/* COLOR PALETTE */
/*  GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.3rem;
  font-family: "Raleway", sans-serif;
  padding-bottom: 2.5rem;
}

img {
  width: 100%;
  height: auto;
}

/* MAIN NAVIGATION */
.header-nav {
  background-color: rgba(161, 156, 133, 0.5);
  position: relative;
  z-index: 8;
}
.header-nav:hover {
  transition: 0.3s ease-in-out;
  background-color: rgba(180, 156, 133, 0.8);
}
.header-nav ul {
  margin-left: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 10;
}
.header-nav ul li {
  list-style: none;
}
.header-nav ul li a {
  text-decoration: none;
  color: white;
}

/* COMMON DESIGN PAGES */
.container {
  margin: 5% 7%;
}
.container h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #5F7C98;
  font-family: "Amatic SC", cursive;
  margin: 7% 0 5% 0;
}
.container h2 {
  font-size: 2rem;
  margin: 5% 0 3% 2%;
  font-family: "Scheherazade", serif;
  color: #8CA1BC;
}
.container i {
  margin-right: 10px;
}
.container p {
  text-align: justify;
}

/* HEADER */
.header-img {
  background: url("../img/arid-climate-change-clouds-60013.jpg");
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center bottom;
  /*margin-top: -50px;*/
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
}

.presentation {
  color: white;
  vertical-align: baseline;
  position: absolute;
  margin-left: 10%;
  top: 50%;
  height: 10em;
  margin-top: -5em;
  line-height: 5rem;
}
.presentation h1 {
  color: white;
  font-size: 5.5rem;
  font-family: "Amatic SC", cursive;
  padding-bottom: 5%;
}
.presentation h2 {
  color: white;
  font-size: 2.5rem;
  font-family: "Nanum Pen Script", cursive;
}

.line {
  height: 3px;
  width: 20%;
  background-color: white;
  display: block;
  margin: 1% auto 3%;
}

/* ICONS INDEX PAGES OF GLOBAL BREAKDOWN ACTORS*/
.bubble-presentation {
  background-color: #a19c96;
}
.bubble-presentation h2 {
  color: white;
  font-size: 3rem;
  font-family: "Nanum Pen Script", cursive;
  text-align: center;
  padding: 6% 0 1% 0;
}
.bubble-presentation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-position: center center;
  flex-flow: row wrap;
}
.bubble-presentation ul li {
  list-style: none;
  max-width: 250px;
  text-align: center;
  margin: 3% 0;
}
.bubble-presentation ul li a {
  text-decoration: none;
}
.bubble-presentation ul li a img {
  margin-bottom: 10%;
  transition: filter 0.5s ease-in-out;
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */
}
.bubble-presentation ul li a img:hover {
  -webkit-filter: grayscale(100%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
  /* FF 35+ */
}
.bubble-presentation ul li a span {
  font-size: 1.6rem;
  color: white;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background-color: rgba(180, 156, 133, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer:hover {
  background-color: rgba(180, 156, 133, 0.8);
  transition: 0.3s ease-in-out;
}
footer article h4 {
  font-variant: small-caps;
  font-size: 1.5rem;
  margin-bottom: 3%;
  color: white;
  padding-top: 8%;
}
footer article ul {
  font-size: 0.8rem;
  padding: 4% 0;
}
footer article ul li {
  color: white;
  list-style: circle;
}

/* CAUSES AND RISKS OF CLIMATE FREAKDOWN */
.quote {
  margin: 4% 0;
}
.quote p, .quote em {
  color: #9CC4D4;
  text-align: right;
}

.second-dropdown {
  margin: 2% 0 2% 4%;
}

.colorBlue {
  color: #5F7C98;
  font-weight: bold;
}

.colorBrown {
  color: #a19c96;
  font-weight: bold;
}

/*# sourceMappingURL=climate.css.map */
