/*FONT FAMILIES

font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;

font-family: 'Amatic SC', cursive;
//font-family: 'Gochi Hand', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Scheherazade', serif;
//font-family: 'Fredericka the Great', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Itim', cursive;
font-family: 'Coustard', serif;
*/
/* COLOR PALETTE */
/*  GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #333;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.3rem;
  font-family: "Raleway", sans-serif;
  padding-bottom: 2.5rem;
}

img {
  width: 100%;
  height: auto;
}

p, li {
  text-align: justify;
}

/* MAIN NAVIGATION */
.header-nav {
  background-color: rgba(161, 156, 133, 0.5);
  position: relative;
  z-index: 8;
}
.header-nav:hover {
  transition: 0.3s ease-in-out;
  background-color: rgba(180, 156, 133, 0.8);
}
.header-nav ul {
  margin-left: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 10;
}
.header-nav ul li {
  list-style: none;
}
.header-nav ul li a {
  text-decoration: none;
  color: white;
}

/* COMMON DESIGN PAGES */
.container {
  margin: 5% 7%;
}
.container h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #5F7C98;
  font-family: "Amatic SC", cursive;
  margin: 7% 0 5% 0;
}
.container h2 {
  font-size: 2rem;
  margin: 5% 0 3% 2%;
  font-family: "Scheherazade", serif;
  color: #8CA1BC;
}
.container i {
  margin-right: 10px;
  color: #8CA1BC;
}
.container p {
  text-align: justify;
}

/* HEADER */
.header-img {
  background: url("../img/arid-climate-change-clouds-60013.jpg");
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center bottom;
  /*margin-top: -50px;*/
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
}

.presentation {
  color: white;
  vertical-align: baseline;
  position: absolute;
  margin-left: 10%;
  top: 50%;
  height: 10em;
  margin-top: -5em;
  line-height: 5rem;
}
.presentation h1 {
  color: white;
  font-size: 5.5rem;
  font-family: "Amatic SC", cursive;
  padding-bottom: 5%;
}
.presentation h2 {
  color: white;
  font-size: 2.5rem;
  font-family: "Nanum Pen Script", cursive;
}

.line {
  height: 3px;
  width: 20%;
  background-color: white;
  display: block;
  margin: 1% auto 3%;
}

/* ICONS INDEX PAGES OF GLOBAL BREAKDOWN ACTORS*/
.bubble-presentation {
  background-color: #a19c96;
}
.bubble-presentation h2 {
  color: white;
  font-size: 3rem;
  font-family: "Nanum Pen Script", cursive;
  text-align: center;
  padding: 6% 0 1% 0;
}
.bubble-presentation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-position: center center;
  flex-flow: row wrap;
}
.bubble-presentation ul li {
  list-style: none;
  max-width: 250px;
  text-align: center;
  margin: 3% 0;
}
.bubble-presentation ul li a {
  text-decoration: none;
}
.bubble-presentation ul li a img {
  margin-bottom: 10%;
  transition: filter 0.5s ease-in-out;
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */
}
.bubble-presentation ul li a img:hover {
  -webkit-filter: grayscale(100%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
  /* FF 35+ */
}
.bubble-presentation ul li a span {
  font-size: 1.6rem;
  color: white;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background-color: rgba(180, 156, 133, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer:hover {
  background-color: rgba(180, 156, 133, 0.8);
  transition: 0.3s ease-in-out;
}
footer article h4 {
  font-variant: small-caps;
  font-size: 1.5rem;
  margin-bottom: 3%;
  color: white;
  padding-top: 8%;
}
footer article ul {
  font-size: 0.8rem;
  padding: 4% 0;
}
footer article ul li {
  color: white;
  list-style: circle;
}

/* CAUSES AND RISKS OF CLIMATE BREAKDOWN */
.quote {
  margin: 4% 0;
}
.quote p, .quote em {
  color: #9CC4D4;
  text-align: right;
}

.second-dropdown {
  margin: 2% 0 2% 4%;
}

.colorBlue {
  color: #5F7C98;
  font-weight: bolder;
}

.colorBrown {
  color: #a19c96;
  font-weight: bolder;
}

.causes-conclu-section p {
  text-align: center !important;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.causes-prevention {
  font-size: 1.4rem;
  margin: 1%;
}

.causes-conclusion {
  font-size: 1.6rem;
  margin: 2%;
}

/**** SLIDESHOW ****/
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  margin-top: 4%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
/* PICTURES */
.causesPic1 {
  max-width: 400px;
  float: right;
  overflow: hidden;
  clear: both;
  margin: 0% 0 2% 2%;
  border-radius: 5px;
}

.causesPic2 {
  float: left;
  margin: 0% 2% 0% 0%;
}

.causesPic3 {
  margin-top: 3%;
}

.causesPic4 {
  max-width: 600px;
  margin: 2% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* TIMELINE GOVERNMENT ****/
#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

img {
  max-width: 100%;
  margin: 8px 0;
}

a {
  text-decoration: none;
}

.timeline-img {
  max-width: 250px;
  display: block;
  margin: 3% auto 2%;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #ee4d4d;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: #ee4d4d;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 14px;
  left: 14px;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: #ee4d4d;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ee4d4d;
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: "";
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #ee4d4d;
}

.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid #f27c7c;
  color: #f27c7c;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 #f27c7c;
  -moz-box-shadow: 2px 2px 0 #f27c7c;
  -ms-box-shadow: 2px 2px 0 #f27c7c;
  box-shadow: 2px 2px 0 #f27c7c;
}
.btn:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

/*# sourceMappingURL=climate.css.map */
